<% tabindex_on '#search_field' %>

<div id='list_description'>
  <h2>Viewing <strong><%= @people.size %></strong> people
</div>

<div id='list_items'>
  <table class='people_list'>
    <% unless @people.blank? %>
      <% for person in @people do %>
        <tr>
          <td width="57"><img src="<%= person.photo_url %>" class="u-photo" width="57" /></td>
          <td>
            <a style="font-weight: bold; font-size: 12pt;" href="<%= person_url(person) %>" class="u-url u-fn"><%= person.name %></a><br />
            <% if(event=@people_events[person.id]) %>
              <%= datetime_format(event.start_time,'%b %d') -%>:
              <a class='summary' href='<%= url_for event_url(event) %>'><%= event.title %></a>              
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr class='blank_list'><td>
        <i>- No people -</i>
      </td></tr>
    <% end %>
  </table>

</div>
